extends layout
block header
    header#header
        nav
            ul.nav__main
                li.nav__item.nav__left
                    a(href="/") home
                li.nav__item.nav__left
                    a(href="/about") about
                li.nav__item.nav__right
                    a(href="/work") work
                li.nav__item.nav__right.active-nav
                    a(href="/contact") contact
    header#header-menu
        label(for="menu") &#9776;
        input(type="checkbox" id="menu" name="menu")
        nav#nav
            ul.nav__menu
                li.nav__item-menu
                        a(href="/") home
                li.nav__item-menu
                        a(href="/about") about
                li.nav__item-menu
                        a(href="/work") work
                li.nav__item-menu
                        a(href="/contact") contact
block main
        .inner
            .contact__section
                form.contact__form(action='/contact/submit' method='POST')
                    h2.heading-title Get in Touch
                        span.title-span
                    p Don’t Hesitate to Drop me an Email 
                    .form-data
                        label.name(for='name') Name
                        input#name.input(type='text' name='name' required)
                        label.email(for='email') Email
                        input#email.input(type='email' name='email' required)
                    .form-msg
                        label.msg(for='msg') How can I help?
                        textarea#msg.input(rows='5' name='text' required)
                    .form-submit
                        input.button(type='submit', value='Send')
block scripts
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
            script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js')
            script(src='//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js')
            script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
            script(src="./dist/form.bundle.js")
            script(src="./dist/main.bundle.js")
