extends layout
block main
      .inner
            .intro
                  .intro__home#home(data-link='#home')
                        .intro__home--content.cf
                              h1 LOAI KAHEL
                              h4 Web Developer Based in Oberhausen
                        .intro__home--arrow.arrow-bottom
                              a(href='#about' data-scroll)
                                    img(src='https://png.icons8.com/ios/50/ffffff/circled-chevron-down.png' class="arrow")
                  header#header
                        nav
                              ul.nav__main
                                    li.nav__item.nav__left.active-nav
                                          a(href="#home" data-scroll class='home-anchor') home
                                    li.nav__item.nav__left
                                          a(href="#about" data-scroll class='about-anchor') about
                                    li.nav__item.nav__right
                                          a(href="#work" data-scroll class='work-anchor') work
                                    li.nav__item.nav__right
                                          a(href="#contact" data-scroll class='contact-anchor') contact
                  header#header-menu
                        label(for="menu") &#9776;
                        input(type="checkbox" id="menu" name="menu")
                        nav#nav
                              ul.nav__menu
                                    li.nav__item-menu
                                          a(href="#home" data-scroll) home
                                    li.nav__item-menu
                                          a(href="#about" data-scroll) about
                                    li.nav__item-menu
                                          a(href="#work" data-scroll) work
                                    li.nav__item-menu
                                          a(href="#contact" data-scroll) contact

                  .intro__aboutMe#about
                        .intro__about
                              .intro__about--header
                                    h2 About ME
                              .intro__about--content
                                    p Hey I'm 
                                          strong Loai.
                                    p A front-end web developer who loves to code and creating something new with 
                                          strong HTML, CSS, JAVASCRIPT 
                                          | and other popular programming languages. If you want to know more about me and my skills,  
                                          a(href="/about") click here...
                        .intro__skills
                              .intro__skills--header
                                    h2 SKILLS
                              .intro__skills--content
                                    .skills--frontend
                                          .frontend--border
                                          .frontend--content
                                                a(href="/about")
                                                      h4 FRONT-END
                                                      .frontend--content-body
                                                            h5 
                                                            ul
                                                                  li HTML
                                                                  li CSS3
                                                                  li Javascript
                                                            h5 
                                                            ul
                                                                  li React JS
                                                                  li Jquery
                                                                  li Bootstrap
                                    .skills--backend
                                          .backend--border
                                          .backend--content
                                                a(href="/about")
                                                      h4 BACK-END
                                                      .backend--content-body
                                                            h5 
                                                            ul
                                                                  li NODE JS
                                                                  li MongoDB
                                                                  li MYSQL
                                                            h5 
                                                            ul
                                                                  li Express JS
                                                                  li Socket.io
                                                                  li Mongoose
                        .intro__about--arrow.arrow-bottom
                              a(href='#work' data-scroll)
                                    img(src='https://png.icons8.com/ios/50/000000/circled-chevron-down.png' class="arrow")
                  .intro__work#work
                        .intro__work--header
                              h2 Work
                        .intro__work--content 
                              .image-card.img-card-1.card-1(data-href="https://my-blog-2018.herokuapp.com/")
                                    .content-card
                                          span.card-title My_Blog
                              .image-card.img-card-2.card-2(data-href="https://worldcup-2018.herokuapp.com/")
                                    .content-card
                                          span.card-title World_Cup
                              .image-card.img-card-3.card-3(data-href="https://loaik92.github.io/Drum/")
                                    .content-card      
                                          span.card-title Drum_Kit
                              .image-card.img-card-4.card-4(data-href="https://seafood-store.herokuapp.com//")
                                    .content-card
                                          span.card-title Sea_Food
                        .intro__work--footer
                              a(href="/work") View More                 


                  .intro__qoutes
                        h2 Experience And Competencies
                        .intro__qoutes--content
                              .intro__qoutes--items
                                    li.intro__qoutes--li
                                          blockquote 
                                                p  I'm not only a 
                                                      code web developer
                                                      | , but I also have experience in many other fields of life. &nbsp;&nbsp;During my semester breaks, I worked as a 
                                                      code Taxi Driver 
                                                      | and brought many people safely from A to B, and helped out in a 
                                                      code Pizzeria 
                                                      |and many other things.
                                                p All in all, I am a  
                                                      code flexible 
                                                      |person who can 
                                                      code work under pressure
                                                      |, with good 
                                                      code communication skills
                                                      |, and above all one thing - a  
                                                      code strong ambition. 
                  .intro__contact#contact
                        .intro__contact--content
                              h2 
                                    code Got Your Attention ?
                              h2 
                                    code I'm available for a job right now
                              button.button(onclick=`location.href='/contact'`) GET IN TOUCH
                        .intro__contact--social
                              a(href="https://github.com/loaiK92?tab=repositories" target="_blank")
                                    img(src='https://png.icons8.com/ios-glyphs/50/000000/github.png')
                              a(href="https://www.xing.com/app/startpage" target="_blank")
                                    img(src='https://png.icons8.com/material/45/000000/xing.png')
                              a(href="https://www.linkedin.com/feed/" target="_blank")
                                    img(src='https://png.icons8.com/ios/45/000000/linkedin-circled-filled.png')
                              



                              

