extends layout
block header
    header
        nav
            ul.nav__main
                li.nav__item.nav__left
                    a(href="/") home
                li.nav__item.nav__left
                    a(href="/about") about
                li.nav__item.nav__right.active-nav
                    a(href="/work") work
                li.nav__item.nav__right
                    a(href="/contact") contact
block main
        .inner
            .work__section
                .work--header
                    h2 WORKS
                .work--content
                    h1 Coming Soon ...
