extends layout
block header
    header#header
        nav
            ul.nav__main
                li.nav__item.nav__left
                    a(href="/") home
                li.nav__item.nav__left
                    a(href="/about") about
                li.nav__item.nav__right.active-nav
                    a(href="/work") work
                li.nav__item.nav__right
                    a(href="/contact") contact
    header#header-menu
        label(for="menu") &#9776;
        input(type="checkbox" id="menu" name="menu")
        nav#nav
            ul.nav__menu
                li.nav__item-menu
                        a(href="/") home
                li.nav__item-menu
                        a(href="/about") about
                li.nav__item-menu
                        a(href="/work") work
                li.nav__item-menu
                        a(href="/contact") contact
block main
        .inner
            .work__section
                .work--header
                    h2 WORKS
                .work--content
                    .img-container.card-1
                        .image-card.img-card-1
                        .desc
                            p 
                                span.project-title My_Blog : 
                                |A Project Based on 
                                span.project-cont Nodejs & MongoDB 
                                |Which Give You The possibility to read some blogs & add your own article
                        .content-card
                                a(href="https://my-blog-2018.herokuapp.com/" target='blank' class='link project') Visit Project
                                a(href="https://github.com/loaiK92/my-blog" target='blank' class='link github') View In Github

                    .img-container.card-2
                        .image-card.img-card-2
                        .desc
                            p 
                                span.project-title Seafood_Store : 
                                |A Project from 
                                span.project-cont WESBOS 
                                |based on 
                                span.project-cont react & database. 
                                |which you can choose & order your favorite food
                        .content-card
                                a(href="https://seafood-store.herokuapp.com/" target='blank' class='link project') Visit Project
                                a(href="https://github.com/loaiK92/seafood-store" target='blank' class='link github') View In Github 

                    .img-container.card-3
                        .image-card.img-card-3
                        .desc
                            p 
                                span.project-title Drum_Kit : 
                                |A Project based on 
                                span.project-cont javascript 
                                |which Give You The possibility to play some music on you machine
                        .content-card
                                a(href="https://loaik92.github.io/Drum/" target='blank' class='link project') Visit Project
                                a(href="https://github.com/loaiK92/Drum" target='blank' class='link github') View In Github

                    .img-container.card-4
                        .image-card.img-card-4
                        .desc
                            p 
                                span.project-title World_Cup : 
                                |A Project based on 
                                span.project-cont react 
                                |which you can see some details about the teams in world cup  2018
                        .content-card
                                a(href="https://worldcup-2018.herokuapp.com/" target='blank' class='link project') Visit Project
                                a(href="https://github.com/loaiK92/worldcup2018" target='blank' class='link github') View In Github     

                    .img-container.card-5
                        .image-card.img-card-5
                        .desc
                            p 
                                span.project-title Youtube_API : 
                                |A Project based on 
                                span.project-cont javascript. 
                                br
                                | So you can relax and listen to your favorite music
                        .content-card
                                a(href="https://youtube-api-2018.herokuapp.com/" target='blank' class='link project') Visit Project
                                a(href="https://github.com/loaiK92/youtube-api" target='blank' class='link github') View In Github
                .work--footer
                    .work--footer-header
                        p To See More Visit My 
                            a(href="https://github.com/loaiK92?tab=repositories" target="_blank") GITHUB 
                            | And 
                            a(href="https://codepen.io/dashboard?type=view&opts_itemType=pen&opts_filter=all&opts_orderBy=id&opts_orderDirection=0&opts_tag=0&displayType=grid&previewType=iframe&page=1" target="_blank") CODEPEN 
                            | Accounts
                    

                    