.intro {
  .intro__work {
    background: #f4f4f4;
    .intro__work--header {
      padding: 3% 0 0;
      h2 {
        width: 10%;
        margin: 0 auto;
        text-align: center;
        background: #000;
        color: #fff;
        padding: 0.7% 1%;
        border-radius: 5px;
        box-shadow: -3px 4px 10px #000;
      }
    }

    .intro__work--footer {
      width: fit-content;
      margin: 0 auto;
      padding: 0 0 4%;
      a {
        color: #000;
        background: #00ffd4;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        padding: 10px 25px;
        transition: all 0.2s linear !important;
        &:hover {
          box-shadow: -1px 1px 7px #00ffd4, 1px -1px 7px #00ffd4;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}

.work--content {
  width: 70%;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2% 0;
  .img-container {
    width: 32%;
    height: 250px;
    margin: 2%;
    overflow: hidden;
    border-radius: 3%;
    position: relative;
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.4);
    &:hover > .image-card {
      transform: scale(2);
    }
    &:hover > .image-card::after {
      opacity: 1;
    }
    &:hover > .content-card .project {
      transform: translateX(0);
      opacity: 1;
    }
    &:hover > .content-card .github {
      transform: translateX(0);
      opacity: 1;
    }
    &:hover > .desc p {
      opacity: 1;
      animation: mymove 0.8s linear;
    }
    .image-card {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: all 0.35s linear 0.1s;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: block;
        transition: all 0.35s linear 0.1s;
        opacity: 0;
      }
    }
    .desc {
      width: 100%;
      position: absolute;
      top: 10%;
      left: 0;
      p {
        padding: 5%;
        color: #fff;
        font-size: 1.2vw;
        text-align: center;
        opacity: 0;
        text-transform: capitalize;
        .project-title {
          color: #00ffd4;
          font-weight: bold;
        }
        .project-cont {
          font-weight: bold;
        }
      }
    }
    .content-card {
      position: absolute;
      top: 70%;
      left: 0%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      .link {
        padding: 2% 4%;
        background: #00ffd4;
        color: #000;
        transition: all 0.35s linear;
        border-radius: 4px;
        opacity: 0;
        &:hover {
          color: #fff;
          font-weight: bold;
          box-shadow: -1px 1px 4px #00ffd4, 1px -1px 4px #00ffd4;
        }
      }
      .project {
        transform: translateX(-50%);
      }
      .github {
        transform: translateX(50%);
      }
    }
    .img-card-1 {
      background-image: url("../images/myBlog-pic-1.jpg");
    }
    .img-card-2 {
      background-image: url("../images/seafood-pic-1.jpg");
    }
    .img-card-3 {
      background-image: url("../images/drum-pic-1.jpg");
    }
    .img-card-4 {
      background-image: url("../images/worldcup-pic-1.jpg");
    }
    .img-card-5 {
      background-image: url("../images/youtube-pic-1.jpg");
    }
  }
}

@keyframes mymove {
  0% {
    transform: translateY(-100%) scale(0);
  }
  65% {
    transform: translateY(15%) scale(1.1);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
