.intro {
  .intro__work {
    background: #f4f4f4;
    .intro__work--header {
      padding: 3% 0 0;
      h2 {
        width: 10%;
        margin: 0 auto;
        text-align: center;
        background: #000;
        color: #fff;
        padding: 0.7% 1%;
        border-radius: 5px;
        box-shadow: -3px 4px 10px #000;
      }
    }
    .intro__work--content {
      width: 70%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 2% 0;
      .image-card {
        margin: 1% 2% 4% 1%;
        height: 250px;
        cursor: pointer;
        .content-card {
          width: 100%;
          height: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          position: relative;
          z-index: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          transition: all 0.2s linear !important;
          transition-delay: 0 !important;
          .card-title {
            color: #4e32f0;
            font-size: 1.5em;
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.2s linear !important;
            transition-delay: 0ms !important;
          }
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s linear !important;
            transition-delay: 0ms !important;
            z-index: -1;
            opacity: 0;
          }
          &:hover {
            transform: scale(1.05) !important;
            transition: all 0.2s linear !important;
            transition-delay: 0ms !important;
            box-shadow: 1px 1px 5px #555;
          }
          &:hover:after {
            opacity: 1;
            transition: all 0.2s linear !important;
            transition-delay: 0ms !important;
          }
          &:hover > .card-title {
            opacity: 1;
            transform: translateY(35px);
            cursor: default;
            transition: all 0.2s linear !important;
            transition-delay: 0ms !important;
          }
        }
      }

      .img-card-1 {
        width: 45%;
        .content-card {
          background-image: url("../images/myBlog-pic-gray.png");
          &::after {
            background-image: url("../images/myBlog-pic.png");
          }
        }
      }
      .img-card-2 {
        width: 35%;
        .content-card {
          background-image: url("../images/worldcup-pic-gray.png");
          &::after {
            background-image: url("../images/worldcup-pic.png");
          }
        }
      }
      .img-card-3 {
        width: 35%;
        .content-card {
          background-image: url("../images/drum-pic-gray.png");
          background-position: left;
          &::after {
            background-image: url("../images/drum-pic.png");
            background-position: left;
          }
        }
      }
      .img-card-4 {
        width: 45%;
        .content-card {
          background-image: url("../images/seafood-pic-gray.png");
          &::after {
            background-image: url("../images/seafood-pic.png");
          }
        }
      }
    }
    .intro__work--footer {
      width: fit-content;
      margin: 0 auto;
      padding: 0 0 4%;
      a {
        color: #000;
        background: #00ffd4;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        padding: 10px 25px;
        transition: all 0.2s linear !important;
        &:hover {
          box-shadow: -1px 1px 7px #00ffd4, 1px -1px 7px #00ffd4;
          color: #fff;
        }
      }
    }
  }
}
