.intro {
  .intro__contact {
    // height: 80vh;
    background: {
      image: url("../images/loai-contact-2.png");
      size: cover;
      position: center bottom;
      attachment: fixed;
      color: #fff;
    }
    .intro__contact--content {
      text-align: center;
      padding: 7% 0 0;
      h2 {
        font-size: 2.5em;
        padding: 1% 0 0;

        code {
          padding: 0 1%;
          font-weight: lighter;
          background: rgba(255, 255, 255, 0.6);
          a {
            color: #000;
          }
        }
      }
      button {
        margin: 5% 0 4%;
      }
    }
    .intro__contact--social {
      width: 30%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      padding: 2.5% 0 1%;
      transition: all 0.3s linear;
      img {
        padding: 0.3vw;
        box-shadow: -1px 1px 3px #777, 1px -1px 3px #777;
        border-radius: 3px;
        transition: 0.2s linear;
        &:hover {
          transform: scale(1.2);
        }
      }
      .github {
        padding: 1px;
      }
    }
  }
}
