*,
html {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

.input:focus,
textarea:focus,
a:focus,
button:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: {
    family: "Rajdhani", sans-serif;
    size: 18px;
  }
  li {
    list-style: none;
  }
  .active-nav {
    a {
      color: #00ffd4 !important;
      border-bottom: 1px solid #00ffd4;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
  }
  .heading-title {
    width: fit-content;
    margin: 0 auto;
    font-family: "Signika", sans-serif;
    font-size: 2.5em;
    font-weight: lighter;
    letter-spacing: 1.3px;
    .title-span {
      display: block;
      width: 70%;
      height: 3px;
      margin: 1% auto 0;
      background: #00ffd4;
    }
    // border-bottom: 2px solid #4e32f0;
    // border-radius: 8%;
    text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.6);
    // color: #fff !important;
    // text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    //   0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    //   0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    //   0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    //   0 20px 20px rgba(0, 0, 0, 0.15);
    // text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #c9c9c9, 3px 3px 0 #bbb,
    //   4px 4px 0 #b9b9b9, 5px 5px 0 #aaa, 6px 6px 1px rgba(0, 0, 0, 0.1),
    //   0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.3),
    //   3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25),
    //   10px 10px 10px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.15);
  }

  .button {
    background: #00ffd4;
    border: none;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px 25px 10px;
    transition: all 0.2s linear;
    &:hover {
      box-shadow: -1px 1px 7px #00ffd4, 1px -1px 7px #00ffd4;
      color: #fff;
    }
  }
  .slick-dots {
    .slick-active {
      button {
        background: #00ffd4 !important;
      }
    }
  }
  .input:focus {
    outline: none;
  }
  .animate-label {
    transform: translateY(-15px);
    font-size: 15px;
    color: #00ffd4 !important;
  }
  .animate-input {
    border-bottom: 1px solid #00ffd4 !important;
  }
  .logo {
    img {
      width: 75px;
      height: 75px;
      transform: rotate(-45deg);
      margin-top: -10px;
    }
  }
  .inner {
  }
}
