@import url('https://fonts.googleapis.com/css?family=Rajdhani:400|Noto+Sans:700|Roboto:900');

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

h1,h2,h3,h4,h5{
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        outline: none;
    }
}

button{
    
}