.work__section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 85vh;
  .work--header {
    margin: 0 auto;
    padding: 3% 0 0;
    h2 {
      text-align: center;
      color: #000;
    }
  }

  .work--footer {
    .work--footer-header {
      p {
        text-align: center;
        padding-bottom: 3%;
        font-size: 1.5em;
        border-bottom: 0.5px solid #000;
        a {
          color: #000;
          background: #00ffd4;
          border: none;
          border-radius: 5px;
          padding: 4px 13px;
          margin-right: 7px;
          -webkit-transition: all 0.2s linear !important;
          -o-transition: all 0.2s linear !important;
          transition: all 0.2s linear !important;
          &:hover {
            box-shadow: -1px 1px 3px #00ffd4, 1px -1px 3px #00ffd4;
            color: #fff;
            font-weight: bold;
          }
        }
      }
    }
  }
}
